@import "../../scss/main.scss";

.signup {
  height: 88vh;
  //background-color: magenta;
  display: flex;
  justify-content: center;
  align-items: center;
  @include background-main{};
  &_wrapper {
    background-color: $color-content;
    width: 30vw;
    height: 40vh;
    padding: 1rem;
    border-radius: $radius-main;
    border: 3px solid $color-text;
    .NavLink {
      margin-top: 2rem;
      border: 3px solid black;
      display: inline-block;
    }
  }
  &_form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .p, .label, .button {
      margin-top: 1rem;
    }
  }
}