@import "variables";

:root {
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  /*line-height: 1.5;*/
  /*font-weight: 400;*/
}

.container {
  width: 100%;
  max-width: $main-width;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
}

