@import "../../scss/main.scss";

.user_param {
  height: $main-height;
  background-color: white;
  @include background-main{};
  display: flex;
  justify-content: center;
  align-items: center;
  &__wrapper {

  }
  &__form {
    width: 30vw;
    height: 40vh;
    background-color: deepskyblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .h3, .label, .button {
      margin: 1rem 0 0 1rem;
    }
  }
}