@import "../../scss/main.scss";

.statistics {
  height: $main-height;
  @include background-main{};
  &_container {
    height: $main-height;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}