@import "../../scss/main.scss";

.about {
  height: $main-height;
  @include background-main{};
  &_container {
    height: $main-height;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    padding-top: 1.5rem;

    @include mobile{
      font-size: 0.8rem;
    }

    @include mobile_tablet{
      width: 530px;
    }
    @media screen and (min-width: $tablet-above){
      width: 760px;
    }
  }
  &_article {
    overflow-y: hidden;
    margin: auto;
  }
  h3, p {
    margin-bottom: 1.5rem;
    text-align: justify;
  }
  p::first-letter {
    font-size: 1.1rem;
    font-weight: bold;
  }
}