@import "../../scss/main.scss";

.about {
  height: $main-height;
  @include background-main{};
  &_container {
    height: $main-height;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_article {
    height: 60vh;
    padding: 6vh 0;
  }
  h3, p {
    margin-bottom: 1rem;
    text-align: justify;
  }
  p::first-letter {
    font-size: 1.1rem;
    font-weight: bold;
  }
}