
.main {
  height: 88vh;
  &_container {
    background-color: green;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_table {
    margin: auto;
    background-color: orange;
    max-width: 100%;
    th, tr, td {
      border: 1px solid black;
    }
    th, td {
      text-align: center;
      vertical-align: central;
      padding: 0.3rem;
    }


  }
}