@import "../../scss/main.scss";

.main {
  height: $main-height;
  @include background-main{};
  &_container {
    height: $main-height;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_table {
    margin: auto;
    background-color: orange;
    max-width: 100%;
    th, tr, td {
      border: 1px solid black;
    }
    th, td {
      text-align: center;
      vertical-align: central;
      padding: 0.3rem;
    }


  }
}