@import "../../scss/main";

//https://codesandbox.io/s/react-responsive-nav-forked-qvm6wc?file=/src/styles/navbar.css

.header {
  height: $header-height;
  background-color: $color-main;
  box-shadow: 0 0.2rem 1rem $color-auxiliary;
  position: relative;
  z-index: 10;
  //https://stackoverflow.com/questions/13772427/shadow-not-showing-up
  &_container {
    line-height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      font-family: $font-logo;
      font-size: 30px;
      font-weight: 600;
      color: $color-auxiliary;
    }
    .menu{
      font-family: $font-auxiliary;
      font-weight: 600;

      &_nav {
        display: flex;
        justify-content: space-between;
        .navigation-menu {
          margin-left: auto;
        }
        .navigation-menu.expanded ul {
          display: block;
        }
        .li {
          margin-right: 1rem;
          &:hover {
            text-decoration: underline;
            text-underline-offset: 0.15rem;
            text-decoration-color: white;
          }
          &:last-child {
            margin-right: 0;
            .span {
             //line-height: 6vh;
              padding-right: 0.2rem;
            }
          }
        }
      }
    }
    .hamburger {
      border: 0;
      height: 40px;
      width: 40px;
      padding: 0.5rem;
      border-radius: 50%;
      background-color: $color-text;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
      position: absolute;
      top: 50%;
      right: 25px;
      transform: translateY(-50%);
      display: none;
    }

    .hamburger:hover {
      background-color: $color-nav;
    }
    @media screen and (max-width: 550px) {
      .hamburger {
        display: block;
      }

      .menu ul {
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: calc(100vh - 60px);
        background-color: white;
        border-top: 1px solid black;
        display: none;
      }

      .menu li {
        text-align: center;
        margin-right: 0 !important;
      }

      .menu li a {
        color: black;
        width: 100%;
        padding: 1.5rem 0;
      }

      .menu li:hover {
        background-color: #eee;
      }

      .menu.expanded ul {
        display: block;
      }
    }
  }
}