@import "../../scss/main";

.footer {
  height: $footer-height;
  background-color: $color-main;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 -0.3rem 1rem $color-auxiliary;
  position: relative;
  &_container {

    &__link {
    float: right;
      &:hover {
        color: #50C878;
      }
    }
    i {
      font-size: 1.5rem;
    }
  }
}