@import "_variables.scss";

:root {
}

body {
  color: $color-text;
  font-family: $font-main;
}

.container {
  width: 100%;
  max-width: $main-width;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 1.5rem;
}

.btn {
  font-family: $font-auxiliary;
  font-size: 1rem;
  color: $color-text;
  background-color: $color-auxiliary;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  padding: 3px;
  border-radius: $button-radius;
  border: 2px solid black;
  cursor: pointer;
  text-align: center;
  &:hover {
    opacity: 0.6;
  }
}