@import "_variables.scss";

@mixin mobile {
  @media screen and (max-width: #{$mobile}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: #{$laptop}) {
    @content
  }
}

@mixin desktop {
  @media screen and (max-width: #{$desktop}) {
    @content
  }
}

@mixin mobile_tablet {
  @media screen and (min-width: #{$mobile-above}) and (max-width: #{$tablet}){
    @content
  }
}


@mixin background-main {
  background-color: rgba(255, 255, 255, 1);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 99%, rgba(255, 215, 0, 1) 100%);
  z-index: 0;
  @content;
}

@mixin signup_login__main {
  height: $main-height;
  display: flex;
  justify-content: center;
  align-items: center;
  @include background-main{};
}
