
//FONTS
$font-logo: 'Londrina Shadow', cursive;
$font-auxiliary: 'Exo', sans-serif;
$font-main: 'Nunito', sans-serif;

//DIMENSIONS
$main-width: 1440px;

//COLORS
$color-main: #87919B;
$color-auxiliary: #FFD700;
$color-text: #000000;
$color-nav: #50C878;
$color-white: #FFFFFF;
$color-blue: #add8e6;

//BUTTONS
$button-radius: 10px;


//BREAKPOINTS
$mobile: 480px;
$tablet: 768px;
$laptop: 769px;